*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  margin: 1em;
  padding: 1em;
  border: 1px solid silver;

}

:focus {
   border: 2px dashed pink;
}

